<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
</head>
<body>

    <div id = "User">
        <h4>Usuario</h4>
        <input type="text">
    </div>

    <div id="Password">
        <h4>Contraseña</h4>
        <input type="password">
    </div>

    <form action="Ingresar">
        <button onclick="ingresar()">Inciar Sesión</button>
    </form>
        
    

    <div class="registro">
        <a class="registrar" href="{{ url_for('registrar') }}">Registrarse</a>
    </div>
</body>
</html>